<strong>Assigned bugs for <%= @developer.name %></strong><br /><br />
<table class="bug" border="1">
  <tr>
    <th>Title</th>
    <th>Status</th>
  </tr>
  <% @bugs.each do |bug| %>
    <tr>
      <td><%= link_to bug.title, bug_path(bug) %></td>
      <td><%= bug.status %></td>
    </tr>
  <% end %>
</table>

