<h1>All bugs</h1>

<%= will_paginate %>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
    <th>Assigned Developer</th>
  </tr>
  <%= render @bugs %>
  <tr>
    <td><%= link_to "Add New Bug", newbug_path %></td>
  </tr>
</table>

<%= will_paginate %>


