<h1>All bugs</h1>

<%= will_paginate %>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
    <th>Assigned Developer</th>
    <th>Action</th>
  </tr>
  <%= render @bugs %>
</table>

<%= will_paginate %>
<br>
<%= link_to "Add New Bug", newbug_path %>

